<div class="container">
<% @users.each do |user| %> 
    <%= link_to user_path(user) do %>
    <div class="user-info">
        <div class="user-photo user-border">
            <img src="<%= user.photo %>" alt="user photo" />
        </div>
        <div class="user-name user-border">
        <p><%= user.name %></p>
        <p class="post-number"> number of posts: <%= user.posts.count %></p>
        </div>
        </div>
    <% end %>
    <% end %>
</div>
